<% layout('../index') %>
<% var edit = profile.user_name ? `${profile.user_name}?_method=PUT`: '' %>
<div class="container col-mid-2">
  <h1><%= title%></h1>
  <form class="well" method="POST" action="/volunteers/edit/<%= edit %>">
    <div class="form-group form-input">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Username" value="<%= profile.user_name || '' %>">
    </div>
    <div class="form-group form-input">
        <label for="password">Password</label>
        <input type="text" class="form-control" id="password" name="password" placeholder="Password">
    </div>
    <div class="form-group form-input">
        <label for="cpassword">Confirm Password</label>
        <input type="text" class="form-control" id="cpassword" name="cpassword" placeholder="Password">
    </div>
    <div class="row"><br></div>
    <div class="form-group form-input">
        <label for="first_name" class="control-label">First Name</label>
        <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name">
    </div>
    <div class="form-group form-input">
        <label for="last_name" class="control-label">Last Name</label>
            <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name">
    </div>
    <div class="form-group form-input">
        <label for="pref_name" class="control-label">Preferred Name</label>
            <input type="text" class="form-control" id="pref_name" name="pref_name" placeholder="Preferred Name">
    </div>
    <div class="form-group form-input">
        <label for="age" class="control-label">Age</label>
            <input type="integer" class="form-control" id="age" name="age" placeholder="Age">
    </div>
    <div class="form-group form-input">
        <label for="zip" class="control-label">Zipcode</label>
            <input type="integer" class="form-control" id="zip" name="zip" placeholder="your zipcode">
    </div>
    <div class="row"><br></div>
    <div class="form-group form-input">
          <label for="travel_radius" class="control-label">Distance willing to travel</label>
          <select class="form-control" id="travel_radius" name="travel_radius">
              <option value="5">5 miles</option>
              <option value="5">10 miles</option>
              <option value="5">15 miles</option>
              <option value="5">20 miles</option>
              <option value="5">25 miles</option>
            </select>
      </div>
    <div class="row"><br></div>
    <div class="form-group form-input">
          <label for="advance_notice" class="control-label">Advance Notice Needed</label>
          <select class="form-control" id="advance_notice" name="advance_notice">
              <option value="24">1 day</option>
              <option value="48">2 days</option>
              <option value="72">3 days</option>
              <option value="168">1 week</option>
              <option value="336">2 weeks</option>
            </select>
    </div>
    <div class="row"><br></div>
    <fieldset>
      <legend>Skills/Services I can offer</legend>
        <% profile[0].forEach(element =>  { %>
          <label>
            <input type="checkbox" name="services" value=<%=element.type%>> <%=element.type%>
          </label>
        <% });%>
    </fieldset>
    <div class="row"><br></div>
    <div class="form-group form-input">
      <button type="submit" class="btn btn-default">Save profile</button>
    </div>
  </form>
</div>
