<% layout('../index') %>

<div class="well">
  <p class="col-md-offset-2"><%= title%></p>
  <div class="col-md-offset-2">
    <p><%= profile.name %></p>
    <p><%= profile.line_1 %> <%= profile.line_2 %> <%= profile.city %> <%= profile.state %> <%= profile.zip %></p>
 </div>
  <br><br>
  <div><%= profile.description %></div>
  <div>Contact:</div>
  <div>
    <p><%= profile.contact_name%></p>
    <p><%= profile.contact_phone%></p>
    <p><%= profile.contact_email%></p>
  </div>
  <div>
    <iframe width="450" height="200" frameborder="0" style="border:0" allowfullscreen
src="<%= profile.query%>"></iframe>
<!-- <img width="200" height="250" frameborder="0" style="border:0"
src="<%= profile.query%>"> -->
  </div>
</div>
