<% layout('../index') %>

<div class="well">
  <p class="col-md-offset-2"><%= title%></p>
  <div class="col-md-offset-2">
    <p><%= profile.name %></p>
    <p><%= profile.line_1 %> <%= profile.line_2 %> <%= profile.city %> <%= profile.state %> <%= profile.zip %></p>
 </div>
  <br><br>
  <div><%= profile.description %></div>
  <div>Contact:</div>
  <div>
    <p><%= profile.contact_name%></p>
    <p><%= profile.contact_phone%></p>
    <p><%= profile.contact_email%></p>
  </div>
  <div>
    <!-- <iframe width="200" height="250" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB4XveFwGrMviTxuVmluc1zOh5USwpQMxc&q=<%= profile.line_1%>+<%= profile.line_2%>+<%= profile.city%>+<%= profile.state%>+<%= profile.zip%>"></iframe> -->
<iframe width="200" height="250" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB4XveFwGrMviTxuVmluc1zOh5USwpQMxc&q=seattle"></iframe>
  </div>
</div>
